html {
   background-color: #E6E6E6;
}

body {
   position: relative;
   background-color: transparent;
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 14px;
   margin-top: 10px;
   color: #6A6A6A;
}

h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}

input[type=text],
input[type=password] {
   width: 100%;
   padding: 8px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit] {
   width: 100%;
   font-size: 16px;
   background-color: #02a0ea;
   color: #fff;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #3cc1ff;
}

input[type=submit]:visited,
a:visited {
   text-decoration: none;
}

input[type=submit]:focus,
a:focus {
   text-decoration: none;
   outline: none;
}


/* Main Nav */
.nav-login {
   font-size: 18px;
   color: #02a0ea;
   display: block;
   float: right;
   min-width: 100px;
   margin-top: 30px;
}

.login-link {
   color: #02a0ea;
   text-decoration: none;
   font-size: 18px;
}

.login-link:hover {
   color: #3cc1ff;
   text-decoration: none;
}

.nav-title {
   color: #02a0ea;
   font-size: 72px;
}

.nav-title:hover {
   cursor: pointer;
   text-decoration: none;
}

.logo {
   margin: 0 0 20px 40px;
   max-height: 120px;
   width: auto;
}


/* Posts */
.post + .post {
   margin-top: 15px;
}

.post-title {
   font-size: 18px;
   color: #999;
   margin-bottom: 20px;
}

.post-title-link {
   font-size: 32px;
   color: #02a0ea;
   margin-right: 10px;
   transition: all 0.3s ease;
}

.post-title-link:hover {
   color: #3cc1ff;
   text-decoration: none;
}

.post-date,
.post-comment-count {
   color: #999;
   padding: 4px 0;
}

.post-content {
   margin-top: 5px;
   font-size: 18px;
   color: #6a6a6a;
   text-align: justify;
}

.post-container {
   padding: 40px;
   margin: 20px;
   border-radius: 8px;
   box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.5);
   background-color: #fff;
   color: #000;
   transition: all 0.3s ease;
}

.post-like {
   color: #02a0ea;
   font-size: 16px;
}

.new-blog-content {
   max-width: 100%;
   min-width: 100%;
   padding: 8px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}


/* Comments */
.comment-content {
   padding: 6px;
   font-size: 14px;
}

.comment-user {
   color: #02a0ea;
}

.comment-message {
   font-size: 16px;
   color: #727272;
}


/* Containers */
.register-container,
.login-container,
.edit-container {
   border-radius: 8px;
   background-color: #fff;
   padding: 40px;
   box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.5);
   transition: all 0.3s ease;
}

.create-post-container {
   margin: 20px;
}

/* Buttons */
.like-btn {
   font-size: 18px;
   margin-left: 10px;
   background-color: transparent;
   border: none;
   transition: all 0.3s ease;
}

.like-btn:focus {
   outline: none;
}

.like-btn:hover {
   color: #3cc1ff;
   cursor: pointer;
}

.delete-btn {
   display: inline-block;
   font-size: 18px;
   margin-left: 10px;
   background-color: transparent;
   border: none;
   transition: all 0.3s ease;
}

.delete-btn:focus {
   outline: none;
}

.delete-btn:hover {
   color: #AD5E68;
   cursor: pointer;
}

.comment-btn {
   position: relative;
   bottom: 6px;
   left: 2px;
   color: #02a0ea;
   background-color: transparent;
   border: none;
   font-size: 32px;
}

.comment-btn:focus {
   outline: none;
}

.comment-btn:hover {
   color: #3cc1ff;
   cursor: pointer;
}

.comment-text {
   margin-left: 6px;
   font-size: 14px;
   border: 1px solid #333;
   height: 40px;
   max-width: 80%;
   min-width: 80%;
   padding: 8px 20px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.comment-text:focus {
   outline: none;
}


/* Links */
.edit-link {
   color: #999;
   text-decoration: none;
}

.edit-link:visited {
   color: #999;
}

.edit-link:hover {
   text-decoration: underline;
   color: #02a0ea;
}

.create-post-link {
   box-shadow: 7px 10px 20px 0px rgba(48,66,72,0.25);
   border-radius: 4px;
   margin-left: 80px;
   color: #fff;
   font-size: 16px;
   padding: 16px;
   background-color: #02a0ea;
   transition: all 0.3s ease;
}

.create-post-link:hover {
   box-shadow: 2px 4px 8px 0px rgba(48,66,72,0.4);
   color: #fff;
   cursor: pointer;
   text-decoration: none;
}

@media (max-width: 991px) {
   .create-post-link {
      margin-left: 0;
   }
}

.like-btn-link {
   margin-left: 0;
   padding: 4px 6px 0 0;
}

.like-btn-link:hover {
   text-decoration: none;
}

.cancel-link,
.signup-link,
.register-link {
   color: #999;
}

.cancel-link:hover,
.signup-link:hover,
.register-link:hover {
   color: #02a0ea;
   text-decoration: none;
}


/* Misc */
.error {
   color: #AD5E68;
}

.edit-title {
   margin: 20px 0;
   font-size: 24px;
}


/* Mobile */
@media (max-width: 600px) {
   .logo {
      max-height: 80px;
   }

   .nav-login {
      float: none;
      text-align: center;
      margin: 10px auto;
   }

   .post-container {
      margin: 20px 0;
      padding: 20px;
   }

   .post-content {
      font-size: 12px;
   }

   .post-title {
      font-size: 14px;
   }

   .post-title-link {
      font-size: 24px;
   }
}
