<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Title -->
      <title>Blog | Blog for Full Stack Web Developer</title>

      <!-- Add CSS from minified file -->
      <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
   </head>

   <body>
      <header class="container-fluid">
         <div class="row">
            <div class="col-md-12">

               <a href="/" class="main-title">
                 Blog
               </a>

               <div class="login-area">
                 {% if user %}
                   {{user.name}} (<a class="login-link" href="/logout">logout</a>)
                 {% else %}
                   <a class="login-link" href="/login">login</a>
                   |
                   <a class="login-link" href="/signup">signup</a>
                 {% endif %}
               </div>

            </div>
         </div>
      </header>

      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">

               {% block content %}
               {% endblock %}

            </div>
         </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../static/js/bootstrap.js"></script>
   </body>

</html>
