<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Title -->
      <title>Blog | Blog for Full Stack Web Developer</title>

      <base href="/">

      <!-- Add CSS from minified file -->
      <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
   </head>

   <body>
      <header class="container">
         <div class="row">
            <div class="col-md-10 col-md-offset-1">

               <a href="/" class="nav-title">
                 <img class="logo" src="static/img/logo.png" alt="The Blog Logo">
               </a>

               <div class="nav-login">
                 {% if user %}
                   {{user.name}} | <a class="login-link" href="/logout">Logout</a>
                 {% else %}
                   <a class="login-link" href="/login">Login</a>
                   |
                   <a class="login-link" href="/signup">Signup</a>
                 {% endif %}
               </div>

            </div>
         </div>
      </header>

      <div class="container">
         <div class="row">
            <div class="col-md-12">

               {% block content %}
               {% endblock %}

            </div>
         </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../static/js/bootstrap.js"></script>
   </body>

</html>
