{% extends "base.html" %}

{% block content %}
 {% if post.creator_id == user_id %}
 <div class="post">
   <div class="post-heading">
      <form method="post">
         <input class="title" name="title" value="{{post.subject}}">
         </input>
         <div class="date">
          {{post.created.strftime("%b %d, %Y")}}
         </div>
         <textarea name="content"
         style="height: 100px; width: 400px;">{{post.content | safe}}</textarea>
         <br>
         <input type="submit">
      </form>
      <form action="../delete/{{post.key().id()}}" method="POST">
         <div class="form-group row">
           <input class="btn btn-danger" type="submit" value="Delete">
         </div>
      </form>
   </div>
</div>
 {% endif %}
{% endblock %}
