{% extends "base.html" %}

{% block content %}
   {% if comment.user_key.key().id() == user.key().id() %}
      <!-- Edit Comment -->
      <div class="col-md-6 col-md-offset-3">
         <div class="edit-container">
            <form action="../deletecomment/{{comment.key().id()}}" method="POST">
               <div class="edit-title">
                  Edit Comment
                  <button class="delete-btn" type="submit" value="">
                     <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
               </div>
            </form>

            <form method="post">
               <label for="content">Comment</label>
               <textarea class="new-blog-content" id="content" name="content">{{comment.content | safe}}</textarea>

               <div class="date">
                  {{comment.created.strftime("%b %d, %Y")}}
               </div>

               <div class="error">
                  {{error}}
               </div>

               <input type="submit" value="Submit">
            </form>

            <a class="cancel-link" href="/post/{{comment.post_key.key().id()}}">Cancel</a>
         </div>
      </div>
   {% endif %}
{% endblock %}
