{% extends "base.html" %}

{% block content %}
   <a href="/newpost">Create a new post</a>
   <br><br>
  {% for post in posts %}
  <div class="post">
    <div class="post-heading">
      <div class="post-title">
        <a href="/post/{{post.key().id()}}">{{post.subject}}</a>
      </div>

      <div class="post-date">
        {{post.created.strftime("%b %d, %Y")}}
      </div>
    </div>

    <div class="post-content">
      {{post.content}}
    </div>

     {% if post.creator_id == user_id %}
        <a class="login-link" href="/edit/{{post.key().id()}}">edit</a>
     {% endif %}


  </div>
  {% endfor %}

{% endblock %}
